p {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 10px; 
    background-color: white;
    color: black;
    border-radius: 10px;
}

article {
    width:100%; 
    display: flex-col;
    justify-content: center;
    align-items: center;
}

div {
    width: 80%;
    height: 60px;
    background-color: bisque;
    border: 1px dotted gainsboro;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    font-weight: bold;
    margin: 10px;
}

button {
    width: 100px;
    height: 40px; 
    padding: 10px;
    background-color: lightskyblue;
    color: black;
    border: 10px;
    border-radius: 10px;
    margin: 0 5px;
}

button:hover {
    background-color:blue;
    color: white;
    cursor: pointer;
}